# Python environments and bytecode
.venv/
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / editor files
.DS_Store
.idea/
.vscode/
*.swp

# Local data and logs
minio-data/
logs/

# Prefect local state
.prefect/
*.db

# Local deployment YAMLs
deployments/

